* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Page 1 styling */
.Container {
  width: 100%;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid black; */
  background-color: #ede9ff;
  background-image: url(wp7467150.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

::placeholder {
  color: #1e0f06;
  text-align: center;
  font-family: cursive;
  color: #4f392b;
  font-weight: bold;
}

.header {
  width: 100%;
  height: 80px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  margin-bottom: 40px;
  border-bottom: 1px solid #4f392b;
}



li:hover {
  cursor: pointer;
}

.logo {
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  font-size: 25px;
  color: #4f392b;
  font-family: cursive;
  font-size: xx-large;
  font-weight: bolder;
  border-radius: 27px;
  text-align: center;
  padding-top: 7px;
  vertical-align: middle;

  /* border: 2px solid #514bb8; */
}

.body-list-view {
  color: #4f392b;
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.dletbtn {
  width: 60px;
  height: 60px;
  background-color: #dee6f0;
  flex: auto;
  align-self: flex-end;
  position: absolute;
  margin-top: 300px;
  margin-right: 20px;
  border: 1px solid #e88b6f;
  box-shadow: 0px 0px 10px 7px #eb3636;
  border-radius: 50%;
}

li {
  color: #4f392b;
  font-size: 30px;
  font-family: cursive;
  width: fit-content;
  height: fit-content;
  justify-content: space-evenly;
  flex: auto;
  font-size: larger;
  text-align: center;
  margin-right: 10px;
  border-bottom: 1px solid;
  list-style-position: inside;
}

.list-item-class {
  display: flex;
  width: fit-content;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
}

.checkBox {
  flex: auto;
  width: 13px;
  height: 25px;
  border-radius: 25px;
  align-content: flex-end;
  box-shadow: 0px 0px 0px 0px #b8734b;
  margin-left: 10px;
  margin-top: 3px;
}

.list-view {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 34px;
}

.list-fotter {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  gap: 0px;
}

h2 {
  font-family: cursive;
  text-align: center;
  margin-top: 31px;
}

#btn-add {
  width: 50px;
  height: 100%;
  background-color: #d4cec1;
  border: 1px solid #95e8c0;
  border-radius: 5px;
}

#list-input {
  width: 144px;
  height: 100%;
  text-align: center;
  background-color: #d4cec1;
  border: 1px solid #95e8c0;
  border-radius: 5px;
}

/* Page 2 styling */

.p2-Container {
  width: 100%;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  background-color: #f0dac3;
  background-image: url(notepad-pen-write-plan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  background-color: #e4dace;
  vertical-align: middle;
  margin: auto;
  border-radius: 15px;
  line-height: 51px;
  width: 100px;
}
.p2-body-list-view {
  color: #4f392b;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p2header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  border-bottom: 1px solid;
}

.logoP2 {
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  font-size: 25px;
  color: #4f392b;
  font-family: cursive;
  background-color: #e4dace;
  font-size: xx-large;
  font-weight: bolder;
  border-radius: 27px;
  text-align: center;
  text-align: center;
  padding-top: 7px;
}

.home-btn {
  width: 50px;
  height: 60%;
  box-sizing: border-box;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e4dace;
  margin: 15px;
  border-radius: 13px;
}

.todo {
  width: 36%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toDoHeaderc {
  width: 100%;
  height: 10%;
  margin-top: 20px;
  align-content: center;
  text-align: center;
  margin-bottom: 33px;
}

.toDoBodyc {
  width: 100%;
  height: 85%;
  padding-left: 33px;
}

.toDoFotterc {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
}

.hh1 {
  box-sizing: border-box;
  border-bottom: 1px solid;
  margin-bottom: 25px;
}

.btnTodo {
  width: 70px;
  height: 100%;
  background-color: #e4dace;

  border: 1px inset;
  border-radius: 5%;
}

.toDoInput {
  width: 100%;
  height: 100%;
  background-color: #e4dace;
  border: 1px inset;
  border-radius: 5%;
  text-align: center;
}

.middle {
  width: 28%;
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.btnSave {
  width: 100%;
  height: 27.5px;
  align-self: flex-end;
  background-color: #e4dace;

  color: #4f392b;
  font-weight: bold;
  border: 1px inset;
  border-radius: 5%;
}

.donec {
  width: 36%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.doneBodyc {
  width: 100%;
  height: 85%;
  font-weight: bolder;
  text-decoration: line-through;
  color: #ff0000;
}

.doneFotterc {
  width: 100%;
  height: fit-content;
  flex: auto;
  align-self: flex-end;
}
.btnDone {
  width: 100%;
  height: 27.5px;
  background-color: #e4dace;
  border: 1px inset;
  color: #4f392b;
  font-weight: bold;
  border-radius: 5%;
}

.Date {
  width: 144px;
  margin-top: 6px;
  height: min-content;
  background: none;
  text-align: end;
  border: 1px inset;
}


.hidden{

  display: none;
}

.h1{
  background-color: ivory;
  font-size: medium;
}

button{

  padding: 5px 10px;
  border: 1px solid black;
  transition: 250ms background-color;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: #e4dace;
}

button:disabled:hover{

  opacity: 0.6;
  cursor: not-allowed;
}

.text-center{
  text-align: center;
}

.containerStep{

  max-width: 400px ;
  margin: 20px auto 0 auto;
  padding: 40px;
}